.profilePictureContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.image {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	object-fit: cover;
}

.cameraIcon {
	position: absolute;
	bottom: 0;
	right: 18px;
	background-color: white;
	border-radius: 50%;
	padding: 5px;
	cursor: pointer;
	display: block;
}

.imageInput {
	display: none;
}
