/* .LoginPageElements {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  color: var(--black);
} */
.inputContainer label {
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;*/
  color: var(--black);
}
.input {
  margin: 10px;

  color: var(--black);
}
.bannerImage {
  width: 40%;
  height: 40%;
  margin: 10px;
}

#signInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  max-width: 70%;
  margin: 20px;
  color: var(--white);
}

.links {
  color: var(--blue);
  margin: 10px;
}
