.formContainer {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
	min-height: calc(100vh - 50px - 20px);
	justify-content: space-between;
}

.mainContentContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.scheduleControlsContainer > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.scheduleControlsContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (min-width: 425px) {
	.scheduleControlsContainer {
		flex-direction: row;
		justify-content: space-between;
	}
}
