.formContainer {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
	min-height: calc(100vh - var(--navbar-height) - 30px);
	justify-content: space-between;
}

.formContainer label {
	margin: 0 0 2px 0;
}

.mainContentContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.scheduleControlsContainer > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.scheduleControlsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

.timeAndRepeatControls span {
	padding: 2px 5px 0 0;
}

.buttonContainer {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 426px) {
	.scheduleControlsContainer {
		flex-direction: row;
	}
	.formContainer {
		justify-content: initial;
	}
	.buttonContainer {
		margin-top: 20px;
	}
}
