.hamburgerMenuIcon {
	position: absolute;
	right: 2%;
	cursor: pointer;
}

.hamburgerMenu {
	min-height: 100vh;
	background-color: rgba(218, 166, 166, 0.5);
	min-width: 100vw;
	position: absolute;
}

/* ul {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	border-top: 3px solid orange;
	top: 15vh;
	right: 0;
	height: 50vh;
	width: 100%;
	background: blue;
} */

.backdrop {
	position: absolute;
	background-color: var(--black);
	top: 50px;
	min-width: 100vw;
	min-height: 100vh;
}
