.bannerImage {
  width: 40%;
  height: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}
.links {
  margin: 10px 13px;
  display: flex;
  justify-content: space-between;
}
.input1 {
  width: 100%;
  color: var(--black);
}
.backToLogin {
  align-self: center;
}
.sendEmailContainer label {
  color: var(--black);
}
.heading {
  size: 60px;
  color: var(--blue);
  text-align: center;
  align-content: center;
}
