.spinnerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 49, 49, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.spinnerOverlay p {
  /* margin-top: 16px; */
  font-size: 18px;
  padding-right: 10px;
  color: rgb(255, 255, 255);
}
