.wrapper {
	display: flex;
	flex-direction: column;
}

.buttonsContainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 2px solid red;
	border-radius: 2px;
}

.buttonsContainer button {
	width: 100%;
	padding: 10px;
}

.errorOutline {
	border-color: red;
}

.warningOutline {
	border-color: orange;
}

.successOutline {
	border-color: green;
}

.transparentOutline {
	border-color: transparent;
}

.label {
	color: var(--black);
	font-weight: 500;
}
