.toDoWrapper {
	display: flex;
	background-color: var(--white);
	padding: 1rem;
	max-width: 200px;
	justify-content: center;
	border-radius: 8px;
}

.flexContainer {
	display: flex;
	align-items: center;
	width: 100%;
}

.toDoText {
	margin-bottom: 0.5rem;
}

.icon {
	margin-left: 1rem;
}

.iconOpacity {
	opacity: 0.5;
}
