.toDoWrapper {
	display: flex;
	background-color: #b3d0d3;
	padding: 1rem;
	width: 11rem;
	justify-content: center;
	border-radius: 18px;
}

.toDoText {
	margin-bottom: 0.5rem;
}

.icon {
	margin-left: 1rem;
}

.iconOpacity {
	opacity: 0.5;
}
