.fullPage h1,
h2,
p,
strong,
ul,
li {
  color: var(--black);
}

.fullPage {
  text-align: justify;
}

.fullPage li {
  margin-top: 10px;
  padding-left: 4px;
}

.fullPage ul {
  list-style: disc inside;
}

h1 {
  font-weight: 700 !important;
}

h2,
h1 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.lastParagraph {
  margin-top: 20px;
}

img {
  display: flex;
  margin: auto auto;
  padding-top: 20px;
}
