.container {
	display: flex;
	/* padding: 5px 10px; */
	border: 1px solid red;
}

.text {
	color: #fff;
	text-align: center;
	font-size: 34px;
	font-weight: 500;
	font-family: "jsMath-cmmi10", sans-serif;
}
