.appointmentsOuterWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.appointmentsOuterWrapper h2 {
	text-align: start;
}

.appointmentsWrapper {
	position: relative;
	display: flex;
	background-color: var(--white);
	width: 960px;
	height: 6rem;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
	justify-content: space-between;
}

.textWrapper {
	display: flex;
	justify-content: start;
	flex-direction: column;
}

.textWrapper p {
	margin-left: 10px;
	font-size: 0.9rem;
}

.firstAppointment {
	margin-bottom: 5px;
}

.appointmentIconWrapper {
	margin-right: 10px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 10rem;
}

.calendarIcon {
	margin-bottom: 1rem;
}

.arrowIconWrapper {
	top: 105%;
	right: 0;
	display: flex;
	text-align: center;
	cursor: pointer;
	position: absolute;
	user-select: none;
	flex-direction: row;
}

.arrowIconWrapper span {
	color: var(--blue);
	margin-top: 2px;
}

.arrowIconWrapper a,
.arrowIconWrapper a:visited {
	text-decoration: none;
	color: inherit;
}
