.appointmentsWrapper {
	display: flex;
	justify-content: center;
	background-color: #e9e9e9;
	max-width: 19rem;
	height: 7rem;
	align-items: center;
	border-radius: 10px;
	cursor: pointer;
}

.textMargin p {
	margin-left: 10px;
	font-size: 0.9rem;
}

.firstAppointment {
	margin-bottom: 5px;
}

.appointmentIconWrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-left: 0.5rem;
}

.calendarIcon {
	margin-bottom: 1rem;
}

@media (max-width: 330px) {
}
