.checkboxAndToDoTileWrapper {
	display: flex;
	margin-top: 8px;
	align-items: center;
}

.checkboxWrapper {
	display: flex;
	height: 40px;
	width: 40px;
	clip-path: circle(45% at 50% 50%);
}

.toDoWrapper {
	width: 100%;
	border-radius: 3px;
	margin-right: 16px;
	background-color: rgb(241, 241, 241);
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
	position: relative;
	margin-bottom: 20px;
	padding: 15px 10px 0 10px;
}

.tags {
	position: absolute;
	top: -11px;
	right: 10px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.chipOutline {
	border: 1px solid var(--blue);
	border-radius: 20px;
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	background-color: var(--blue);
	border-radius: 50%;
	border: none;
}

.iconContainer svg {
	color: var(--white);
}

.descriptionSection {
	display: flex;
	margin-top: 0.5rem;
	justify-content: space-between;
}

.titleSection {
	display: flex;
	justify-content: space-between;
}

.titleContainer {
	display: flex;
}

.titleContainer h3 {
	font-weight: 500;
}

.titleContainer h3,
.descriptionSection p {
	cursor: pointer;
	word-break: break-word;
}

.descriptionSection p {
	font-size: 0.9rem;
	margin-bottom: 10px;
}

.menuIconContainer {
	position: relative;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.menuIcon {
	cursor: pointer;
	position: relative;
	color: var(--black);
}

.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.modalContainer {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: var(--white);
	padding: 10px;
	border-radius: 3px;
	white-space: nowrap;
	outline: 1px solid var(--lightblue);
	z-index: 2;
}

.dropdownAbove {
	top: auto;
	bottom: 100%;
}

.modalList {
	border-radius: 5px;
	min-width: 100px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
}

.modalItem {
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
	display: flex;
	user-select: none;
}

.modalItem:hover {
	background-color: var(--lightblue);
}

.notApplicable {
	background-color: var(--coral);
}

.checked {
	background-color: #9db3b6;
}
