nav {
	background-color: var(--blue);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	user-select: none;
	height: 50px;
}

nav ul li {
	display: flex;
	list-style-type: none;
	align-items: center;
	gap: 5px;
}

.userIcon {
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
	color: var(--black);
}

.centerContent {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
