.datePickerContainer {
  display: flex;
  align-items: center;
}

.dateNavigateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; 
}

.dateNavigateContainer button {
  background-color: transparent;
  margin: 10px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333; 
}

.dateNavigateContainer button:hover {
  color: #000; 
}
