.patientDetailsWrapper {
	background-color: #b3d0d3;
	padding-top: 1.5rem;
	flex-wrap: wrap;
	color: black;
}

.patientInfoBlock {
	display: flex;
	align-items: center;
	justify-content: start;
	margin-left: 1rem;
}

.PatientInfo {
	margin: 0.5rem 1rem;
}

.PatientInfo > h1 {
	margin-bottom: 0.5rem;
}

.signedInAs {
	display: flex;
	justify-content: end;
	min-width: 100vw;
	padding-right: 0.5rem;
	padding-bottom: 0.3rem;
	user-select: none;
}

.signedInAs > p {
	font-size: 0.6rem;
}
