.patientDetailsWrapper {
  padding-top: 1.5rem;
  flex-wrap: wrap;
  color: black;
}

.patientInfoBlock {
  display: flex;
  align-items: center;
  justify-content: start;
}

.PatientInfo {
  margin: 0.5rem 1rem;
}

.PatientInfo > h1 {
  margin-bottom: 0.5rem;
}

.morePatientDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-right: 0.5rem;
  padding-left: 1.3rem;
  padding-bottom: 0.3rem;
  user-select: none;
  cursor: pointer;
  color: var(--blue);
}

.morePatientDetails > p {
  font-size: 0.8rem;
  margin: 0 0 2px 0;
  color: var(--blue);
}
