.ToDoWrapper {
	display: flex;
	background-color: #b3d0d3;
	padding: 1rem;
	width: 11rem;
	justify-content: center;
	border-radius: 18px;
	/* Temporary placement */
	margin: 200px 200px;
}

.ToDoText {
	margin-bottom: 0.5rem;
}

.Icon {
	margin-left: 1rem;
}

.IconOpacity {
	opacity: 0.5;
}
