.profile-container {
  margin: auto;
  padding: 16px;
  /* position: relative; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: rgb(221, 227, 233);
}

@media screen and (min-width: 768px) {
  .profile-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
