.fullWrapper {
	max-width: 750px;
	margin: 0 auto;
	padding: calc(20px + var(--navbar-height)) 20px 20px 20px;
}

.profilePictureWrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.headlineAndIcon {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.personalInfoSection {
	background-color: var(--fadedblue);
	padding: 20px;
	border-radius: 5px;
}

.healthInfoSection,
.caretakerInfoSection,
.emergencyContactSection {
	background-color: var(--fadedblue);
	padding: 20px;
	margin: 20px 0 0 0;
	border-radius: 5px;
}

.caretakerAndButton {
	display: flex;
	align-items: center;
}

.caretakerAndButton button {
	border-radius: 0 5px 5px 0;
}

.inputWrapper {
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.healthInfoSection span,
.personalInfoSection span {
	color: var(--black);
}

.caretakerList {
	display: flex;
	flex-direction: column;
	color: var(--black);
	border-radius: 5px;
}

.caretakerListItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--blue);
	margin: 5px 0;
	padding: 15px 15px;
	border-radius: 5px;
}

.picNameAndEmail {
	display: flex;
	align-items: center;
}

.picNameAndEmail img {
	margin-right: 10px;
	max-width: 50px;
	max-height: 50px;
	border-radius: 50%;
}

.nameAndEmail {
	display: flex;
	flex-direction: column;
}

.nameAndEmail h3 {
	color: var(--white);
}

.nameAndEmail span {
	color: var(--white);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#createPatientButton {
	margin-top: 20px;
}

.required {
	color: rgb(245, 11, 11) !important;
}

label {
	padding-bottom: 10px;
	margin: 0 !important;
}

.headlineText {
	color: var(--black);
	margin-bottom: 15px;
}

.saveIcon {
	display: flex;
	margin-top: 25px;
	justify-content: flex-end;
}

@media (max-width: 425px) {
	.nameAndEmail span {
		width: 130px;
	}
}
