* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
}

body {
	max-width: 900px;
	margin: 0 auto;
}

:root {
	--blue: #1c7b82;
	--black: #1b1c1d;
	--coral: #f5774d;
	--white: #e9e9e9;
	--grey: #d7d7d7;
	--lightblue: #aacccf;
}

.container {
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
}

.element {
	margin: 8px 0;
	padding: 12px;
}

.button {
	margin: 10px 0;
	padding: 12px 24px;
}

.text {
	margin: 8px 0;
}

.input {
	margin: 12px 0;
	padding: 10px;
}
