.fullInfoContainer {
  padding: 20px;
  background-color: var(--fadedblue);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.userInfo h2 {
  font-size: 1.25rem;
}

.inputGroup {
  margin-bottom: 16px;
}

.inputGroup Label {
  color: var(--black);
  font-size: 0.75rem;
  font-weight: 600;
}

.inputGroup Input,
.inputGroup NativeSelect {
  font-family: inherit;
  font-size: 1rem;
}

.Icon {
  cursor: pointer;
}

.icon.editing {
  color: grey;
}

.error {
  color: rgb(246, 32, 32);
  margin-top: 5px;
  font-size: 0.875rem;
}
