.fullInfoContainer {
  background-color: --blue;
  min-width: 40%;
  max-width: 60%;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup Label {
  margin-bottom: 5px;
}

.inputGroup Input,
.inputGroup NativeSelect {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
