.remainingTodosWrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
}

.arrowPositionWrapper {
	position: relative;
}

.arrowIconWrapper {
	display: flex;
	color: var(--blue);
	position: absolute;
	left: 31%;
	bottom: -40%;
}
